
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Helvetica,STHeiti,Droid Sans Fallback;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a{
    text-decoration: none;
}
/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,h2,h3,h4,h5{
    font-style: normal;;
    font-weight: normal;
}



@font-face {
    font-family: 'dincondensedcregular';
    src: url('../fonts/dincondensedc-webfont.eot');
    src: url('../fonts/dincondensedc-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dincondensedc-webfont.woff2') format('woff2'),
    url('../fonts/dincondensedc-webfont.woff') format('woff'),
    url('../fonts/dincondensedc-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon{
    display: inline-block;
    text-align: center;
    font-size: 0.5rem;
    border-radius: 20px;
}

.icon.more{
    background: #fff;
    line-height: 1rem;
    height: 1rem;
    color: #feb137;
    width: 3.05rem;
}

.btn{
    background: #feb137;
    display: inline-block;
}
.btn.submit{
    background: #feb137;
    color: #fff;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    width: 100%;
    border-radius: 40px;
}
.btn.disabled{
    background: #f3f3f3;
}
.cost_btn{
    padding: 0 0.5rem;
    margin: 0.75rem 0;
}

.weekSlider .title{
    text-align: center;
    font-size: 0.6rem;
    padding-top: 0.5rem;
}
.weekSlider .title .week{
    color: #f47a7a;
    font-size:0.65rem ;
    font-family: Arial;
}
